* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px 20px 40px;
}

.header-image {
    font-size: 18px;
}

.links {
    display: flex;
}

.linkone,
.linktwo,
.linkthree {
    margin-left: 15px;
    font-size: 18px;
}

#imag {
    max-width: 100%;
    height: auto;
}

.welcome {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-group-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#welcome-text {
    font-size: 18px;
}

.welcome-group-two {
    padding: 15px;
}

#welcome-text {
    padding: 15px;
}

.signbutton {
    background-color: #3882f6;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
}

#body-title {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

.grid-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.testimony {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: lightgray;
}

.quote.one {
    font-size: 18px;
    padding: 0 20px 0 20px;
}
.quote.two {
    font-size: 24px;
}

.calltoaction {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.colorb {
    background-color: #3882f6;
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.row-one,
.row-two {
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    height: 50px;
}